<div class="gist-overview">
    <div class="btn-group">
        <a class="btn btn-default btn-small delete-gist" data-id="{{id}}" href="?">{{DELETE_GIST}}</a>
        <a class="btn btn-default btn-small" href="{{html_url}}/download">{{DOWNLOAD_GIST}}</a>
        <a class="btn btn-default btn-small" href="{{html_url}}">{{OPEN_IN_BROWSER}}</a>
    </div>
    <summary><span class="label{{^public}} secret{{/public}}">{{#public}}{{PUBLIC}}{{/public}}{{^public}}{{SECRET}}{{/public}}</span>{{description}}</summary>
</div>

{{#files}}
    <div class="file">
        <div class="meta">
            {{filename}}
        </div>
        <div class="blob">
            <pre><code>{{content}}</code></pre>
        </div>
    </div>
{{/files}}
