<div id="gist-manager" class="bottom-panel vert-resizable top-resizer">

    <div class="toolbar simple-toolbar-layout">
        <span class="title">Gist Manager</span>
        <div class="btn-group">
            <input type="text" id="github-username" placeholder="{{GITHUB_USERNAME}}">
            <input type="password" id="github-password" placeholder="password">
            <button class="btn btn-default" id="load-gists">{{LOAD_GISTS}}</button>
        </div>
        <span class="pull-right">
            <a href="#" class="close">&times;</a>
        </span>
    </div>

    <div class="gist-manager-content resizable-content">

    </div>

</div>
